<div class="container-fluid">
	<div class="pending-homepage row">
		<h1 id= "approval_title">Items Pending Approval</h1>
		<hr>
		<%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals} %>
	</div>

	<div class="pending-homepage">
		<div>
			<p></p>
		</div>
	</div>
</div>