.pending-homepage {
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: SLATEGRAY;
	padding: 20px;
}

.homepage-block {
	margin:15px 35px 15px 35px;
	padding:15;
	background-color: LAVENDER;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pending_details {
	color: SLATEGRAY;
	font-weight: 900;
}

.approval_user {
	text-align: center;
}

#approval_title {
	text-align: center;
}

.approval_split {
	size: 5;
}

.but-bot{
	padding-bottom: 15px;
	font-weight: 900;
	color: BLACK;
}